body{
    background-color: rgb(49, 49, 49);
    display: flex;
    justify-content: center;
}
#a{
    width: 90%;
    height: 400px;
    background-color: rgb(49, 49, 49);
    -webkit-box-shadow: 8px -4px 51px 7px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px -4px 51px 7px rgba(0,0,0,0.75);
    box-shadow: 8px -4px 51px 7px rgba(0,0,0,0.75);
    border-radius: 20px;
    margin: 20px;
}